.slider-button {
  z-index: 2;
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 244px;
    left: calc(50% + 307px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.4s ease, background-color 0.4s ease;
  }

  @media (min-width: $desktop-width) {
    top: 333px;
    left: calc(50% + 351px);
  }

  &:hover {
    border-color: $text-basic;
  }

  &:focus {
    background-color: #e8e8e8;
    border-color: $text-basic;
    outline: none;
  }

  &:active {
    background-color: $text-basic;
    border-color: $text-basic;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;

      transform: translate(-50%, -50%);
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      display: block;
      width: 16px;
      height: 32px;
      background-color: $text-basic;
      transition: background-color 0.3s ease;
      mask-image: url("/__spritemap#sprite-slider-button");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 32px 32px;
    }
  }
}

.slider-button--prev {
  left: 27px;

  &::after {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    right: calc(50% + 307px);
    left: auto;
  }

  @media (min-width: $desktop-width) {
    right: calc(50% + 351px);
  }
}

.slider-button:active::after {
  background-color: $basic-white;
}
